<div class="mt-8 sm:text-lg overflow-auto">
  私はノートを閉じ、<span class="text-accent"><%= user_name %></span>が戻ってくるのを静かに待った。心の中で、<span class="text-accent"><%= user_name %></span>の隠された才能に驚きつつ、こんなにも素晴らしい作品を他の誰かと共有したいという衝動に駆られたが、それは<span class="text-accent"><%= user_name %></span>の個人的な記録であり、私が勝手に触れるべきではない。<br>
  しばらくして<span class="text-accent"><%= user_name %></span>が席に戻ってくると、何事もなかったかのように会話を再開した。<br>
  しかし、私の心の中には、<span class="text-accent"><%= user_name %></span>の書いた詩が静かに響き続けていた。<br>
  それは、私たちの友情に新たな一面を加え、<span class="text-accent"><%= user_name %></span>をより深く理解するきっかけとなったのだった──。<br>
</div>