<div class="my-10 mx-auto w-11/12 sm:w-6/5 max-w-5xl">
  <div class="card w-full bg-base-100 image-full shadow-xl">
    <figure><%= image_tag 'coffe.webp', alt: '喫茶店' %></figure>
    <div class="card-body">
      <h2 class="card-title justify-center">~story2~ <%= @quest.user.name %>の詩</h2>
      <div class="mt-4 sm:text-xl text-base/7">詩には<%= @quest.user.name %>の心の奥深くに秘められた想いが、繊細な言葉選びとリズムで表現されている。その深い感情の波が、私にはっきりと伝わってきたー</div>
        <div id="questCard" class="card w-full mx-auto bg-base-200 shadow-xl">
          <div class="flex flex-col md:flex-row items-center">
            <figure>
              <%= image_tag 'note.png', alt: 'Note', class: 'px-8 pt-8 md:pr-0 md:py-8 rounded-xl' %>
            </figure>
            <div class="card-body items-center text-left text-neutral">
              <h2 class="card-title"><%= @quest.title %></h2>
              <p class="text-sm"><%= @quest.quest %></p>
            </div>
          </div>
        </div>
      <div class="mt-4 sm:text-xl text-base/7">
        <%= @quest.user.name %>が欲しいと思っているのはーーー
      </div>
      
    </div>
  </div>
  <p class="text-sm mx-2">このストーリーはフィクションです</p>
</div>
