<div class="my-10 mx-auto w-11/12 sm:w-6/5 max-w-3xl">
  <div class="card w-full bg-base-100 image-full shadow-xl">
    <figure><%= image_tag 'note.webp', alt: 'ノートを読む' %></figure>
    <div class="card-body">
      <h2 class="card-title justify-center text-2xl">- Story2 -</h2>
        <div class="card w-full mx-auto bg-base-200 shadow-xl mt-4">
          <div class="flex flex-col md:flex-row items-center">
            <figure>
              <%= image_tag 'note.png', alt: 'Note', class: 'px-8 pt-8 md:pr-0 md:py-8' %>
            </figure>
            <div class="card-body items-center text-left text-neutral">
              <h2 class="card-title"><%= @quest.title %></h2>
              <p class="text-sm md:text-md"><%= @quest.quest %></p>
            </div>
          </div>
        </div>
      <div class="mt-4 text-base sm:text-lg overflow-auto">
        文字から滲み出るのは、普段見せない<%= @quest.user.name %>の内面から湧き上がる深遠な感情の波。
        まるで<%= @quest.user.name %>の魂の叫びであるかのように、繊細な言葉選びとリズムが静かながらも力強く私の心に響き渡る。
        <%= @quest.user.name %>がいま心から欲しているものが、突然明らかになったようだった。<br>
        そうか、<%= @quest.user.name %>が今、真に求めているのは──。<br>
      </div>
      <!-- モーダル -->
      <div class="flex justify-center">
        <button class="btn btn-primary w-3/5 mt-4" onclick="my_modal_4.showModal()">なるほど、求めているものはこれだ！</button>
        <dialog id="my_modal_4" class="modal">
          <div class="modal-box relative"> <!-- relativeクラスを追加 -->
            <!-- ✕ボタン -->
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <!-- モーダルのタイトル -->
            <h3 class="font-bold text-lg text-neutral-400">答えを入力してね！</h3>
            <!-- 回答入力フォーム -->
            <%= form_tag(answer_quest_path(@quest), method: :post, class: "flex flex-col items-center justify-center gap-4 mt-4") do %>
              <div class="w-full max-w-md">
                <div class="form-control w-full">
                  <%= text_field_tag :name, nil, placeholder: "例：クマのぬいぐるみ", class: "input input-bordered", required: true %>
                </div>
                <div class="w-full flex justify-center">
                  <%= submit_tag "送信", class: "btn hover:bg-primary hover:border-primary mt-4" %>
                </div>
              </div>
              <p class="text-xs text-neutral-400">※正確に入力してください(漢字,カタカナ、スペース等)</p>
            <% end %>
          </div>
        </dialog>
      </div>

      <div class="card-actions justify-center mt-2">
        <%= link_to 'まだ分からないな。もう少し手がかりを探そう', hint_quest_path(@quest), class: "btn btn-primary w-3/5" %>
      </div>
    </div>
  </div>
  <p class="text-sm text-ash mx-2">この物語はAIによって創造されたフィクションであり、実際の人物・団体・事件とは一切関係ありません。作中には不自然な表現や想定外の言葉が含まれる可能性がありますので、ご了承ください。</p>
</div>


