<div class="my-10 mx-auto w-11/12 sm:w-6/5 max-w-3xl">
  <div class="card w-full bg-base-100 image-full shadow-xl">
    <figure><%= image_tag 'wait.webp', alt: '友人を待つ' %></figure>
    <div class="card-body">
      <h2 class="card-title justify-center text-4xl font-moti">- Epilogue -</h2>

      <%= render 'epilogue', user_name: @quest.user.name %>

      <div class="flex justify-center mt-8 md:mt-16">
        <!-- モーダル -->
        <button class="btn btn-primary" onclick="my_modal_5.showModal()">リクエスト詳細</button>
        <dialog id="my_modal_5" class="modal">
          <div class="modal-box relative"> <!-- relativeクラスを追加 -->
            <!-- ✕ボタン -->
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <!-- クエスト詳細 -->
            <section class="text-ash body-font">
              <div class="container px-8 p-4 pb-8 mx-auto">
                <p class="text-ash mb-10 p-1 bg-gradient-to-r from-green-200 to-indigo-200 font-bold text-center rounded-full">リクエスト内容</p>
                <div class="-my-8 divide-y-4 divide-green-200 divide-dotted">
                  <div class="py-4 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font">欲しいもの</span>
                    </div>
                    <div class="md:flex-grow w-full">
                      <h2 class="text-2xl font-bold title-font "><%= @quest.name %></h2>
                    </div>
                  </div>
                  <div class="py-4 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font">欲しい日</span>
                    </div>
                    <div class="md:flex-grow w-full">
                      <h2 class="text-xl font-medium title-font mb-2"><%= @quest.desired_date.present? ? l(@quest.desired_date, format: :short) : '記入なし' %></h2>
                    </div>
                  </div>
                  <div class="py-4 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font">備考</span>
                    </div>
                    <div class="md:flex-grow w-full">
                      <h2 class="text-xl font-medium title-font mb-2"><%= @quest.remarks.present? ? @quest.remarks : '記入なし' %></h2>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </dialog>

        <!-- Twitterシェア機能 -->
        <div class="tooltip tooltip-accent tooltip-bottom ml-4" data-tip="クエストクリアをシェアしよう！">
          <% twitter_url = "https://twitter.com/share?url=#{CGI.escape(request.base_url + quest_path(@quest))}&text=【#{CGI.escape(@quest.user.name)}さんのクエストに挑戦したよ！】%0a@sammy_study%20%23ギフトリクエスト%20%20%23テスト" %>
          <%= link_to twitter_url, title: 'Twitter', class: 'btn', target: '_blank', rel: 'noopener noreferrer' do %>
            <i class="fa-brands fa-x-twitter"></i> シェア
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'caution_note' %>
    <!-- カードの外側 -->
    <div class="flex justify-center pt-4">
      <div class="btn btn-primary flex items-center">
        <%= image_tag 'quest.svg', alt: 'quest', class: "h-4" %>
        <%= link_to 'みんなのクエストへ', requests_path %>
      </div>
    </div>
</div>
