<div class="my-10 mx-auto w-11/12 sm:w-6/5 max-w-3xl">
  <div class="card w-full bg-base-100 image-full shadow-xl">
    <figure><%= image_tag 'note.webp', alt: 'ノートを読む' %></figure>
    <div class="card-body">
      <h2 class="card-title justify-center text-4xl font-moti">- Story3 -</h2>
        <div class="card w-full mx-auto bg-base-200 shadow-xl mt-4">
          <div class="flex flex-col md:flex-row items-center">
            <figure>
              <%= image_tag 'note.png', alt: 'Note', class: 'px-8 pt-8 md:pr-0 md:py-8 rounded-xl' %>
            </figure>
            <div class="card-body items-center text-left text-neutral font-poem">
              <h2 class="card-title"><%= @quest.title %></h2>
              <p class="text-sm"><%= @quest.quest %></p>
            </div>
          </div>
        </div>

      <div class="mt-4 sm:mt-8 sm:text-lg">う〜ん。もう少しで分かりそうなのに。<br>おや、ノートの隅に、詩を書くとき参考にしたと思われる走り書きがあるぞ。これを手がかりにできないだろうか？</div>
      <!-- ヒント -->
      <div class="flex justify-center gap-4 mt-4">
      <% @quest.hints.each do |hint| %>
        <button class="btn btn-ghost btn-sm w-1/4 border-neutral-300 text-neutral-300 hover:border-primary hover:text-primary" onclick="<%= hint.number %>.showModal()">手がかり<%= hint.number.gsub('hint', '') %></button>
        <dialog id="<%= hint.number %>" class="modal">
          <div class="modal-box">
            <h3 class="font-bold text-lg text-neutral-400">手がかり<%= hint.number.gsub('hint', '') %></h3>
            <p class="py-4 text-neutral-400 font-poem"><%= hint.content %></p>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      <% end %>
</div>

      <div class="mt-8 sm:text-lg text-base/7">
        今度こそ分かったぞ！<span class="text-accent"><%= @quest.user.name %></span>がいま欲しいと思っているのは──<br>
        （どれか1つ選択）
      </div>
      <!-- 選択肢 -->
      <div class="flex justify-center mt-4">
        <%= form_with url: answer_quest_path(@quest), method: :post, local: true, class: "bg-base-300/30 rounded-2xl" do |f| %>
          <div class="flex flex-col md:flex-row gap-1 flex-wrap">
            <% @quest.choices.each do |choice| %>
              <%= f.button choice.content, name: "selected_choice", value: choice.content, class: "btn m-1 md:m-2 hover:bg-primary hover:border-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
  <%= render 'caution_note' %>
</div>
