<% content_for(:title, t('.title')) %>

  <div class="hero min-h-screen bg-base-100 max-w-screen-xl mx-auto lg:rounded-xl">
    <div class="w-full px-8 md:px-0 max-w-md mx-auto">
      <h1 class="text-3xl md:text-4xl font-moti mb-5 text-center mb-8"><%= t('.title') %></h1>
      <div class="mx-auto">
        <%= form_with model: @user, url: profile_path, class: "space-y-4", local: true, multipart: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="form-control mt-2">
            <%= f.label :name, class: "label-text mb-1" %>
            <%= f.text_field :name, class: "input input-bordered", required: true %>
          </div>
          <div class="form-control mt-2">
            <%= f.label :email, class: "label-text mb-1" %>
            <%= f.email_field :email, class: "input input-bordered", required: true %>
          </div>
          <!------ 画像をプレビュー ------>
          <div class="form-image mt-2">
            <%= f.label :avatar, class: "label-text", for: "input" do %>
              <div class="mb-1">
                プロフィール画像<span class="border border-secondary rounded-md text-xs p-0.5 text-secondary ml-1">5MBまで</span>
              </div>
            <% end %>
            <%= f.file_field :avatar, id: "input", accept: "image/jpeg,image/gif,image/png",
                        class: "file-input file-input-bordered file-input-primary w-full max-w-xs" %>
            <%= f.hidden_field :avatar_cache %>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.variant(:display),
                        class: 'mt-4 rounded-full mx-auto my-2 border w-32 h-32',
                        id: 'preview' %>
            <% end %>
          </div>
          <%= f.submit class: "btn btn-primary w-full" %>
        <% end %>
      </div>
    </div>
  </div>

