<div class="container mx-auto px-4">
  <div class="max-w-md mx-auto my-10">
    <h1 class="text-4xl font-bold mb-5 text-center">パスワード変更</h1>
    <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= @user.email %>
      </div>
      <div>
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, class: "input input-bordered w-full max-w-xs", required: true %>
      </div>
      <div>
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs", required: true %>
      </div>
      <%= f.submit class: "btn btn-primary w-full" %>
    <% end %>
  </div>
</div>
