<% content_for(:title, t('.title')) %>

<div class="hero min-h-screen bg-base-100 max-w-screen-xl mx-auto">
  <div class="hero-content w-full flex-col lg:flex-row-reverse mx-8">
    <div class="text-center lg:text-left lg:flex lg:items-center">
      <div>
        <h1 class="text-4xl lg:text-5xl font-moti"><%= t('.title') %></h1>
        <p class="py-4">登録しているメールアドレスを入力してください。<br>パスワードリセット用のメールが届きます。</p>
      </div>
    </div>

    <div class="card w-full max-w-sm shadow-2xl bg-base-100 lg:ml-16">
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="card-body mx-auto">
          <div class="form-control mt-2">
            <%= f.label :email, class: "label-text" %>
            <%= f.email_field :email, placeholder: "email@example.com", class: "input input-bordered", required: true, autocomplete: "email" %>
          </div>
          <div class="form-control mt-4 lg:mt-6">
            <%= f.submit t('password_resets.new.password_reset'), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
