<section class="bg-base-100 shadow-xl">
  <div class="container mx-auto flex px-4 pt-24 pb-12 md:flex-row flex-col items-center max-w-3xl">
    <!-- 左 -->
    <div class="lg:flex-grow md:w-1/2 flex flex-col mb-8 md:mb-0 items-center text-center">
      <div class="mx-8 md:mx-0">
        <%= image_tag 'titlelogo.png', alt: 'gift_request_logo' %>
      </div>
      <div class="flex justify-center items-center">
      <%= link_to 'ゲストとしてログイン', '/guest_login', data: { turbo_method: :post }, class: "btn btn-primary border-none shadow-lg skeleton bg-primary rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition" %>
      </div>
      <p class="mt-2 text-xs text-ash">お試しで利用したい方はこちら。<br>再度ログインできません。</p>
    </div>
    <!-- 右 -->
    <div class="hidden md:block md:w-1/2 w-5/6">
      <%= image_tag 'bearbox.png', alt: 'bear&giftbox' %>
    </div>
  </div>
  <!-- 切り替え-->
  <div class="mx-8 pb-16 mx-auto flex items-center justify-center max-w-3xl flex-col">
    <p class="p-1.5 mx-8 mb-8 text-ash text-sm font-bold text-center bg-gradient-to-r from-green-200 to-yellow-200">
      「こんなプレゼント欲しいな」をゲーム感覚で友達に伝えられる、プレゼント伝達サービスです
    </p>
    <!-- 使い方 -->
    <div class="carousel mx-8">
      <div id="slide1" class="carousel-item relative w-full">
        <%= image_tag 'use1.png', alt: 'ギフトリクエストの使い方1', class: "w-full" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide2" class="btn btn-circle">❮</a> 
          <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
      </div> 
      <div id="slide2" class="carousel-item relative w-full">
        <%= image_tag 'use2.png', alt: 'ギフトリクエストの使い方2', class: "w-full" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide2" class="btn btn-circle">❮</a> 
          <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
      </div> 
    </div>
  </div>
    <!-- 使い方 -->
  </div>
</section>