<% content_for(:title, t('.title')) %>

<div class="hero min-h-screen bg-base-100 max-w-screen-xl mx-auto">
  <div class="hero-content w-full flex-col lg:flex-row-reverse mx-8">
    <div class="text-center lg:text-left lg:flex lg:items-center">
      <div>
        <h1 class="text-4xl lg:text-5xl font-bold"><%= t('.title') %></h1>
        <p class="hidden lg:block py-4">欲しいものが見つかったらリクエスト登録！<br>誰かが気づいてくれるかも・・・</p>
      </div>
      <div class="hidden lg:block lg:w-1/3">
        <%= image_tag 'bearbox.png', alt: 'bear&giftbox' %>
      </div>
    </div>

    <div class="card w-full max-w-sm shadow-2xl bg-base-100 lg:ml-16">
      <%= form_with model: @user, class: "space-y-4", local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="card-body mx-auto">
          <div class="form-control mt-2">
            <%= f.label :name, class: "label-text" %>
            <%= f.text_field :name, placeholder: "クエスト太郎", class: "input input-bordered", required: true, autocomplete: "name" %>
          </div>
          <div class="form-control mt-2">
            <%= f.label :email, class: "label-text" %>
            <%= f.email_field :email, placeholder: "email@example.com", class: "input input-bordered", required: true, autocomplete: "email" %>
          </div>
          <div class="form-control mt-2">
              <%= f.label :password, class: "label-text" %>
              <%= f.password_field :password, placeholder: "password", class: "input input-bordered", required: true, autocomplete: "current-password" %>
          </div>
          <div class="form-control mt-2">
              <%= f.label :password_confirmation, class: "label-text" %>
              <%= f.password_field :password_confirmation, placeholder: "password", class: "input input-bordered", required: true, autocomplete: "current-password" %>
          </div>
          <div class="form-control mt-4 lg:mt-6">
            <%= f.submit t('user_sessions.new.login'), class: "btn btn-primary" %>
              <%= link_to t('users.new.to_login_page'), login_path, class: "label-text-alt text-center link link-hover hover:text-accent mt-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
