<div class="w-5/6 mx-auto max-w-screen-md flex items-center flex-wrap my-10 lg:my-0 pt-16">
  <div class="w-full lg:w-3/5 shadow-2xl bg-white rounded-lg lg:rounded-l-lg lg:rounded-r-none mx-6 lg:mx-0">
    <div class="p-4 md:p-12 text-center lg:text-left">
      <!-- Image for mobile view-->
      <div class="avatar lg:hidden">
        <div class="block rounded-full shadow-xl mx-auto -mt-16 h-40 w-40 bg-cover bg-center">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(:display), class: "mb-4" %>
          <% else %>
            <div class="flex items-center justify-center overflow-hidden rounded-full bg-gray-200 p-2">
              <%= image_tag 'avatar.svg', alt: 'アバター' %>
            </div>
          <% end %>
        </div>
      </div>
      <h1 class="text-3xl font-bold pt-8 lg:pt-0"><%= @user.name %></h1>
      <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
      <p class="pt-2 text-gray-600 text-sm flex items-center justify-center lg:justify-start">email: <%= @user.email %></p> 
      <div class="actions pt-2">
        <%= link_to '編集', "#", class: 'btn btn-primary' %>
      </div> 
    </div>
  </div>
  <!-- Right side Image for desktop -->
  <div class="lg:w-2/5 lg:block hidden">
    <div class="avatar">
        <div class="rounded-none lg:rounded-lg shadow-2xl">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar %>
          <% else %>
            <div class="bg-gray-200 p-2">
              <%= image_tag 'avatar.svg', alt: 'アバター' %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
<!-- クエスト一覧表示 -->

<div class="max-w-screen-xl mx-auto py-6 md:px-8">
  <h1 class="text-3xl font-bold flex items-center"><%= image_tag 'quest.svg', alt: 'quest', class: "h-9 mr-2" %><%= @user.name %>のクエスト一覧</h1>

  <% if @user_requests.present? %>
    <div class="flex flex-wrap -mx-2">
      <%= render partial: 'requests/request', collection: @user.requests, as: :user_request %>
    </div>
  <% else %>
    <p>クエストはありません</p>
  <% end %>
</div>
  <%= paginate @user_requests %>


