<header class="bg-cyan-600/10">
  <div class="navbar">
    <div class="flex-1 px-4">
      <%= link_to '/' do %>
      <%= image_tag 'headerlogo.png', alt: 'logo_title', class: "h-14 w-auto max-w-full" %>
      <% end %>
    </div>
    <div class="flex-none flex items-center">
      <ul class="menu menu-horizontal px-1 flex items-center">
        <li><%= link_to 'ログイン', login_path %></li>
        <li><%= link_to '新規登録', new_user_path %></li>
        <li><%= link_to requests_path do %>
          <%= image_tag 'quest.svg', alt: 'quest', class: "h-9" %>
        <% end %></li>
      </ul>
    </div>
  </div>
</header>
