 <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 px-2 py-2">
     
 <div class="card bg-base-100 shadow-md">
        <div class="card-body flex items-left">
<!-- Card content -->
<div class="rounded-full shadow-md mx-auto h-20 w-20 bg-cover bg-center">
  <% if user_request.user.avatar.attached? %>
    <%= image_tag user_request.user.avatar.variant(:display), class: "rounded-full mb-4" %>
  <% else %>
    <div class="flex items-center justify-center overflow-hidden rounded-full bg-gray-200 p-2">
      <%= image_tag 'avatar.svg', alt: 'アバター' %>
    </div>
  <% end %>
</div>
<p class="font-bold text-primary"><%= user_request.user.name %>さんのクエスト</p>
<p class="mb-4 text-gray-500 sm:text-lg md:mb-4">
  欲しい日: <%= user_request.desired_date.present? ? l(user_request.desired_date, format: :short) : '記入なし' %>
</p>
<p class="font-bold text-primary text-lg">
  タイトル：
  <%= link_to user_request.title, request_path(user_request), class: "hover:text-accent" %>
</p>
<% if current_user && user_request.user_id == current_user.id %>
  <%= link_to request_path(user_request), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'} do %>
    <%= image_tag 'delete.svg', alt: 'delete_quest', class: "flex items-center justify-center h-9 hover:bg-gray-400 rounded-md transition-colors duration-150" %>
  <% end %>
<% end %>
<p class="mb-4 text-center text-gray-500 sm:text-md md:mb-4 md:text-right">作成日: <%= l user_request.created_at %></p>
  </div>
    </div>
    </div>