<% content_for(:title, t('.title')) %>

 <div class="hero min-h-screen bg-base-100 max-w-screen-xl mx-auto lg:rounded-xl">
    <div class="w-full px-8 md:px-0 max-w-md mx-auto">
      <h1 class="text-3xl md:text-4xl font-bold mb-5 text-center mb-8"><%= t('.title') %></h1>
      <div class="mx-auto">
        <%= form_with model: @user_request, class: "space-y-4", local: true do |f| %>
          <div class="form-control mt-2">
            <%= f.label :name, class: "label-text mb-1" %>
            <%= f.text_field :name, class: "input input-bordered", placeholder:'例：クマのぬいぐるみ', required: true %>
          </div>
          <div class="form-control mt-2">
            <%= f.label :desired_date, class: "label-text mb-1" do %>
              <span class="border border-primary rounded-md text-xs p-0.5 text-primary mr-1">任意</span>欲しい日
            <% end %>
            <%= f.date_field :desired_date, class: "input input-bordered" %>
          </div>
          <div class="form-control mt-2">
            <%= f.label :remarks, class: "label-text mb-1" do %>
              <span class="border border-primary rounded-md text-xs p-0.5 text-primary mr-1">任意</span>備考
            <% end %>
            <%= f.text_area :remarks, class: "textarea textarea-bordered", placeholder:'例：抱きつけるような大きいもの' %>
          </div>
          <%= f.submit class: "btn btn-primary w-full" %>
        <% end %>
      </div>
    </div>
  </div>
