<% content_for(:title, t('.title')) %>

<div class="min-h-screen max-w-screen-lg shadow-xl bg-base-100 md:rounded-2xl p-8 mx-auto">
  <h1 class="text-3xl md:text-4xl font-moti text-center m-4 mt-8"><%= t('.title') %></h1>

  <section class="text-ash body-font">
    <div class="container px-8 pt-2 md:pt-8 mx-auto">
      <p class="mb-10 p-1 bg-gradient-to-r from-green-200 to-indigo-200 font-bold text-center rounded-full">リクエスト内容</p>
      <div class="-my-8 divide-y-4 divide-green-200 divide-dotted">
        <div class="py-4 flex flex-wrap md:flex-nowrap">
          <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-ash">欲しいもの</span>
          </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-2xl font-bold title-font "><%= @user_request.name %></h2>
        </div>
        </div>
      <div class="py-4 flex flex-wrap md:flex-nowrap">
        <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-ash">欲しい日</span>
        </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-xl font-medium title-font mb-2"><%= @user_request.desired_date.present? ? l(@user_request.desired_date, format: :short) : '記入なし' %></h2>
        </div>
      </div>
      <div class="py-4 flex flex-wrap md:flex-nowrap">
        <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-ash">備考</span>
        </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-xl font-medium title-font mb-2"><%= @user_request.remarks.present? ? @user_request.remarks : '記入なし' %></h2>
        </div>
      </div>
    </div>
  </section>

  <section class="text-ash body-font">
    <div class="container px-8 py-8 mx-auto">
      <p class="mb-10 p-1 bg-gradient-to-r from-green-200 to-indigo-200 font-bold text-center rounded-full">クエスト内容</p>
      <div class="-my-8 divide-y-4 divide-green-200 divide-dotted">
        <div class="py-4 flex flex-wrap md:flex-nowrap">
          <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-ash">タイトル</span>
          </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-2xl font-bold title-font "><%= @user_request.title %></h2>
        </div>
        </div>
      <div class="py-4 flex flex-wrap md:flex-nowrap">
        <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-ash">内容</span>
        </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-xl font-medium title-font mb-2"><%= @user_request.quest %></h2>
        </div>
      </div>
      <div class="py-4 flex flex-wrap md:flex-nowrap">
        <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-ash">ヒント</span>
        </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-xl font-medium title-font mb-2">
              <p>1.<%= @user_request.hint_by_number('hint1') %></p>
              <p>2.<%= @user_request.hint_by_number('hint2') %></p>
              <p>3.<%= @user_request.hint_by_number('hint3') %></p>
          </h2>
        </div>
      </div>
      <div class="py-4 flex flex-wrap md:flex-nowrap">
        <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-ash">選択肢</span>
        </div>
        <div class="md:flex-grow w-full">
          <h2 class="text-xl font-medium title-font mb-2">
              <p>1.<%= @user_request.choice_by_number('choice1') %></p>
              <p>2.<%= @user_request.choice_by_number('choice2') %></p>
              <p>3.<%= @user_request.choice_by_number('choice3') %></p>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <!-- 詳細画面終わり -->
  <div class="md:pt-4">
    <div class="flex justify-center items-center flex-3 p-4 space-x-6">
      <!-- Twitterシェア機能 -->
      <div class="tooltip tooltip-accent tooltip-bottom " data-tip="クエストをシェアしよう♪">
        <% twitter_url = "https://twitter.com/share?url=#{CGI.escape(request.base_url + quest_path(@user_request))}&text=【「#{CGI.escape(@user_request.user.name)}」さんがクエストを作ったよ！挑戦してみてね！】%0a@sammy_study%20%23ギフトリクエスト%20%20%23テスト" %>
        <%= link_to twitter_url, title: 'Twitter', class: 'btn btn-neutral inline-flex items-center', target: '_blank', rel: 'noopener noreferrer' do %>
          <i class="fa-brands fa-x-twitter"></i> シェア
        <% end %>
      </div>
      <div>
        <%= link_to profile_path(current_user), class: "btn btn-primary inline-flex items-center" do %>
          <i class="fa-regular fa-circle-user"></i> マイページへ
        <% end %>
      </div>
      <% if current_user && @user_request.user_id == current_user.id %>
        <%= link_to request_path(@user_request), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'} do %>
          <%= image_tag 'delete.svg', alt: 'delete_quest', class: "flex items-center justify-center h-9 hover:bg-gray-400 rounded-md transition-colors duration-150" %>
        <% end %>
      <% end %>
    </div>
      <p class="text-ash text-right">作成日: <%= l @user_request.created_at %></p>
  </div> 
</div> 