<% content_for(:title, t('.title')) %>

<div class="hero min-h-screen bg-base-100 max-w-screen-lg mx-auto lg:rounded-xl">
  <div class="hero-content w-full flex-col lg:flex-row-reverse p-8">
    <div class="text-center lg:text-left lg:flex lg:items-center">
      <div class="lg:ml-4">
        <h1 class="text-4xl font-bold"><%= t('.title') %></h1>
        <p class="hidden lg:block py-4">クエストに挑戦して<br>相手の本当に求めるものをプレゼント！</p>
      </div>
      <div class="hidden lg:block lg:w-80">
        <%= image_tag 'bearbox.png', alt: 'bear&giftbox' %>
      </div>
    </div>

    <div class="card w-full max-w-md shadow-2xl bg-base-100">
      <%= form_with url: login_path, local: true do |f| %>
        <div class="card-body mx-auto">
          <div class="form-control mt-2">
            <%= f.label :email, class: "label-text" %>
            <%= f.email_field :email, placeholder: "email@example.com", class: "input input-bordered", required: true, autocomplete: "email" %>
          </div>
          <div class="form-control mt-2">
              <%= f.label :password, class: "label-text" %>
              <%= f.password_field :password, placeholder: "password", class: "input input-bordered", required: true, autocomplete: "current-password" %>
              <%= link_to t('user_sessions.new.password_forget'), new_password_reset_path, class: "label-text-alt link link-hover hover:text-accent mt-2" %>
          </div>
          <div class="form-control mt-4 lg:mt-6">
            <%= f.submit t('user_sessions.new.login'), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
