<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="description" content="<%= full_description(yield(:description)) %>" />
    <meta property="og:url" content="https://gift-request.onrender.com" />
    <meta property="og:title" content="<%= page_title(yield(:og_title)) %>" />
    <meta property="og:description" content="こんなプレゼント欲しいな、をゲーム感覚で友達に伝えられる、プレゼント伝達サービスです" />
    <meta property="og:image" content="<%= image_url "og.png" %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sammy_study" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/952f5a5c87.js" crossorigin="anonymous"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-gradient-to-r from-green-200 to-indigo-200">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="flex-grow">
      <%= render 'layouts/flash_messages' %>
        <%= yield %>
        <dev>
          <%= debug(params) if Rails.env.development? %>
        </dev>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
